---
import BaseLayout from "..//layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";
import Landing from "../components/Landing.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "../js/utils"
import landingImage from "../assets/images/cabinets2.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title="About"
  description="Meta description for the page"
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="About"
    image={optimizedImage}
  />

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1456">
  <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture1">
              <source media="(max-width: 600px)" srcset="/assets/images/about-2-cr-mobile.jpg">
              <source media="(min-width: 601px)" srcset="/assets/images/about-2-cr.jpg">
              <img loading="lazy" decoding="async" src="/assets/images/about-2-cr.jpg" alt="turbine" width="500" height="729" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture2">
              <source media="(max-width: 600px)" srcset="/assets/images/about-1-cr-mobile.jpg">
              <source media="(min-width: 601px)" srcset="/assets/images/about-1-cr.jpg">
              <img loading="lazy" decoding="async" src="/assets/images/about-1-cr.jpg" alt="windmill" width="378" height="460" aria-hidden="true">
          </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-content">
          <span class="cs-topper">Welcome to Golf Greeners</span>
          <h2 class="cs-title">Improving Your Game, One Swing at a Time</h2>
          <p class="cs-text">
           For over 8 years, we’ve been helping golfers refine their skills, discover their potential, and enjoy the game to its fullest. Our approach goes beyond lessons and equipment; it’s about creating a community that values growth, enjoyment, and passion for the sport.
          </p>
          <ul class="cs-ul">
              <li class="cs-li">Personalized coaching.</li>
              <li class="cs-li">Family-friendly activities.</li>
              <li class="cs-li">High-quality equipment.</li>
              <li class="cs-li">A welcoming environment for all.</li>
          </ul>
          <a href="/contact" class="cs-button-solid">Contact Us</a>
      </div>
  </div>
  <picture class="cs-background">
      <!--Mobile Image-->
      <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/turbine2.png">
      <!--Tablet and above Image-->
      <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/turbine2.png">
      <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/turbine2.png" alt="turbine" width="1280" height="568">
  </picture>
</section>
                              

<style>
  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1456 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbs-1456 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1456 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1456 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1456 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1456 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbs-1456 .cs-li {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    list-style: none;
    text-align: left;
    width: 100%;
    max-width: 25rem;
    margin: 0;
    color: var(--bodyTextColor);
    position: relative;
  }
  #sbs-1456 .cs-li:before {
    /* bullet */
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0.625rem;
    left: -0.9375rem;
  }
  #sbs-1456 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1456 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-1456 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1456 .cs-image-group {
    /* scaling the font size with the view width, removed at desktop */
    font-size: min(2.23vw, .83em);
    /* using ems so we can use font size to scale the whole section */
    width: 40.625em;
    height: 45.5625em;
    position: relative;
  }
  #sbs-1456 .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs-1456 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-1456 .cs-picture1 {
    width: 32.625em;
    height: 45.5625em;
    left: 0;
    top: 0;
  }
  #sbs-1456 .cs-picture2 {
    width: 23.625em;
    height: 28.75em;
    right: 0;
    bottom: 6.25em;
  }
  #sbs-1456 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1456 .cs-background:before {
    /* background color overlay */
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #fff;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    opacity: .94;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1456 .cs-background img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1456 .cs-container {
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.25rem;
  }
  #sbs-1456 .cs-content {
    width: 40%;
    padding: 3rem 0;
    /* prevents flexbox from squishing it */
    flex: none;
    align-self: center;
  }
  #sbs-1456 .cs-image-group {
    font-size: 1rem;
    width: 50vw;
    max-width: 40.625rem;
    height: auto;
    /* 580px - 729px */
    min-height: clamp(36.25rem, 50vw, 45.5625rem);
    flex: none;
    display: flex;
  }
  #sbs-1456 .cs-picture1 {
    width: 83%;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
  }
  #sbs-1456 .cs-picture2 {
    width: 60%;
    height: 57%;
  }
}
                                
</style>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1574">
  <div class="cs-container">
      <ul class="cs-card-group">
          <li class="cs-item">
              <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-thumb.svg"
                      alt="icon" width="48" height="48" loading="lazy" decoding="async">
              <span class="cs-stat">99%</span>
              <span class="cs-info">Positive customer feedback</span>
          </li>
          <li class="cs-item">
              <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-package.svg"
                      alt="icon" width="48" height="48" loading="lazy" decoding="async">
              <span class="cs-stat">7000+</span>
              <span class="cs-info">Lessons Taught </span>
          </li>
          <li class="cs-item">
              <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-hand.svg"
                      alt="icon" width="48" height="48" loading="lazy" decoding="async">
              <span class="cs-stat">8+ years </span>
              <span class="cs-info">Helping golfers improve</span>
          </li>
          <li class="cs-item">
              <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-hand.svg"
                      alt="icon" width="48" height="48" loading="lazy" decoding="async">
              <span class="cs-stat">500+</span>
              <span class="cs-info">Families served annually</span>
          </li>
      </ul>
  </div>
  <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-waves.svg"
          alt="waves" width="1920" height="500" loading="lazy" decoding="async">
</section>
                              

<style>
  /*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1574 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #stats-1574 .cs-container {
    list-style: none;
    width: 100%;
    /* changes to 1280px on tablet */
    max-width: 36.5rem;
    margin: auto;
  }
  #stats-1574 .cs-card-group {
    width: 100%;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #stats-1574 .cs-item {
    text-align: center;
    width: 100%;
    /* 24px - 40px top & bottom, 16px - 24px sides*/
    padding: clamp(1.5rem, 4vw, 2.5rem) clamp(1rem, 3vw, 1.5rem);
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
  }
  #stats-1574 .cs-icon {
    width: auto;
    height: 3rem;
    margin-bottom: 1.5rem;
  }
  #stats-1574 .cs-stat {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 4vw, 2.4375rem);
    font-weight: 900;
    line-height: 1.2em;
    margin-bottom: 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #stats-1574 .cs-info {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #stats-1574 .cs-background {
    width: 100%;
    height: 9.375rem;
    object-fit: cover;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1574 .cs-container {
    max-width: 80rem;
  }
  #stats-1574 .cs-card-group {
    grid-template-columns: repeat(12, 1fr);
  }
  #stats-1574 .cs-item {
    grid-column: span 3;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-1574 .cs-background {
    height: 50%;
  }
}
                                
</style>

<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1824">
  <div class="cs-container">
      <div class="cs-image-group">
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="/assets/images/golf-swing-mobile.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="/assets/images/golf-swing.jpg">
              <img loading="lazy" decoding="async" src="/assets/images/golf-swing.jpg" alt="body builder" width="562" height="568">
          </picture>
       
      </div>
      <div class="cs-content">
          <span class="cs-topper">Why Choose Us</span>
          <h2 class="cs-title">Why Choose Golf Greeners</h2>
      </div>
      <div class="cs-flex">
          <div class="cs-box">
              <div class="cs-box-content" data-box="one">
                  <img class="cs-box-icon" loading="lazy" decoding="async" src="/assets/svgs/milestone.svg" alt="icon" width="62" height="62">
                  <h3 class="cs-h3">Our Mission & Approach</h3>
                  <p class="cs-box-text">
                    To deliver exceptional golfing experiences with quality facilities, expert coaching, and lessons tailored for all skill levels.</p>
              </div>
              <div class="cs-box-content cs-hidden" data-box="two">
                  <img class="cs-box-icon" loading="lazy" decoding="async" src="/assets/svgs/equipment.svg" alt="icon" width="62" height="62">
                  <h3 class="cs-h3">State of The Art Equipment</h3>
                  <p class="cs-box-text">
                    Providing the latest in golfing gear and tools to enhance your performance on the course.
                  </p>
              </div>
              <div class="cs-box-content cs-hidden" data-box="three">
                  <img class="cs-box-icon" loading="lazy" decoding="async" src="/assets/svgs/education.svg" alt="icon" width="62" height="62">
                  <h3 class="cs-h3">Education & Top Trainers</h3>
                  <p class="cs-box-text">
                    Learn from highly skilled trainers dedicated to improving your game at every level.
                  </p>
              </div>
              <div class="cs-box-content cs-hidden" data-box="four">
                <img class="cs-box-icon" loading="lazy" decoding="async" src="/assets/svgs/leadership.svg" alt="icon" width="62" height="62">
                <h3 class="cs-h3">Proven Results</h3>
                <p class="cs-box-text">
                  Helping golfers consistently improve their skills and enjoy better performances on the course.
                </p>
            </div>
             
          </div>
          <div class="cs-button-group">
              <button class="cs-button cs-active" data-filter="one">
                  <picture class="cs-icon-wrapper">
                      <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/milestone-dark.svg" alt="icon" width="32" height="32">
                  </picture>
                  <span class="cs-button-text">Our Mission & Approach</span>
                  <!-- <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow.svg" alt="icon" width="32" height="32"> -->
              </button>
              <button class="cs-button" data-filter="two">
                  <picture class="cs-icon-wrapper">
                      <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/equipment-dark.svg" alt="icon" width="32" height="32">
                  </picture>
                  <span class="cs-button-text">State of The Art Equipment</span>
                  <!-- <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow.svg" alt="icon" width="32" height="32"> -->
              </button>
              <button class="cs-button" data-filter="three">
                  <picture class="cs-icon-wrapper">
                      <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/education-dark.svg" alt="icon" width="32" height="32">
                  </picture>
                  <span class="cs-button-text">Education & Top Trainers</span>
                  <!-- <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow.svg" alt="icon" width="32" height="32"> -->
              </button>
              <button class="cs-button" data-filter="four">
                  <picture class="cs-icon-wrapper">
                      <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/leadership-dark.svg" alt="icon" width="32" height="32">
                  </picture>
                  <span class="cs-button-text">Proven Results</span>
                  <!-- <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow.svg" alt="icon" width="32" height="32"> -->
              </button>
          </div>
      </div>
  </div>
</section>
                              

<style>
  /*-- -------------------------- -->
<---        Why Choose Us       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1824 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #why-choose-1824 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #why-choose-1824 .cs-topper {
    width: auto;
  }
  #why-choose-1824 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 40.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #why-choose-1824 .cs-title {
    margin: 0;
    max-width: 20ch;
  }
  #why-choose-1824 .cs-flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  #why-choose-1824 .cs-box {
    background-color: #45a33d;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 2rem;
  }
  #why-choose-1824 .cs-box-content {
    margin: 0;
    /* 32px - 40px top & bottm */
    /* 24px - 40px left & right */
    padding: clamp(2rem, 2.5vw, 2.5rem) clamp(1.5rem, 3vw, 2.5rem);
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: hidden 0.3s, opacity 0.3s, transform 0.7s;
  }
  #why-choose-1824 .cs-box-content.cs-hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(3rem);
  }
  #why-choose-1824 .cs-box-icon {
    text-align: left;
    width: 3.875rem;
    height: auto;
    margin: 0 0 2rem;
    display: block;
  }
  #why-choose-1824 .cs-h3 {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 2.5vw, 1.9375rem);
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    margin: 0 0 1rem;
    color: var(--bodyTextColorWhite);
  }
  #why-choose-1824 .cs-box-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #why-choose-1824 .cs-button-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  #why-choose-1824 .cs-button {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0 0 1.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  #why-choose-1824 .cs-button.cs-active .cs-icon-wrapper,
  #why-choose-1824 .cs-button:hover .cs-icon-wrapper {
    background-color: var(--primary);
  }
  #why-choose-1824 .cs-button.cs-active .cs-icon,
  #why-choose-1824 .cs-button:hover .cs-icon {
    filter: grayscale(1) brightness(1000%);
  }
  #why-choose-1824 .cs-button.cs-active .cs-arrow,
  #why-choose-1824 .cs-button:hover .cs-arrow {
    filter: none;
    opacity: 1;
  }
  #why-choose-1824 .cs-button:hover {
    cursor: pointer;
  }
  #why-choose-1824 .cs-icon-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing them */
    flex: none;
    transition: background-color 0.3s;
  }
  #why-choose-1824 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #why-choose-1824 .cs-button-text {
    font-size: 1.25rem;
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    max-width: 19ch;
    margin: 0;
    padding: 0;
    color: var(--headerColor);
  }
  #why-choose-1824 .cs-arrow {
    width: 2rem;
    margin-left: auto;
    filter: grayscale(1) brightness(100%);
    opacity: 0.2;
    height: auto;
    display: block;
  }
  #why-choose-1824 .cs-image-group {
    width: 100%;
    height: 100vw;
    min-height: 25rem;
    /* chnages to 100% on desktop */
    max-height: 42.5rem;
    position: relative;
    z-index: 1;
  }
  #why-choose-1824 .cs-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
  }
  #why-choose-1824 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2rem;
  }
  #why-choose-1824 .cs-floater {
    /* 72px - 120px */
    width: clamp(4.5rem, 10vw, 7.5rem);
    height: clamp(4.5rem, 10vw, 7.5rem);
    background-color: #1a1a1a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 10;
  }
  #why-choose-1824 .cs-floater-icon {
    /* 32px - 60px */
    width: clamp(2rem, 4vw, 3.75rem);
    height: auto;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1824 .cs-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  #why-choose-1824 .cs-flex {
    flex-direction: row;
    align-items: stretch;
  }
  #why-choose-1824 .cs-box {
    width: 50%;
    height: 100%;
    display: flex;
    order: 2;
  }
  #why-choose-1824 .cs-box-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #why-choose-1824 .cs-button-group {
    width: 50%;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1824 .cs-content {
    width: 53%;
    padding: 3rem 0 0 0;
    box-sizing: border-box;
  }
  #why-choose-1824 .cs-flex {
    width: 74%;
    max-width: 53rem;
    padding: 0 0 3rem;
    box-sizing: border-box;
  }
  #why-choose-1824 .cs-image-group {
    width: 40vw;
    max-width: 32.625rem;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
                                
</style>

<script>

document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('#why-choose-1824 .cs-button');
    const boxContents = document.querySelectorAll('#why-choose-1824 .cs-box-content');

    // Function to show the corresponding box content and hide others
    function showBoxContent(button) {
        const filterValue = button.getAttribute('data-filter');

        boxContents.forEach(box => {
            if (box.getAttribute('data-box') === filterValue) {
                box.classList.remove('cs-hidden');
            } else {
                box.classList.add('cs-hidden');
            }
        });

        buttons.forEach(btn => {
            if (btn === button) {
                btn.classList.add('cs-active');
            } else {
                btn.classList.remove('cs-active');
            }
        });
    }

    // Event listeners for screens below 1024px
    if (window.matchMedia('(max-width: 1024px)').matches) {
        buttons.forEach(button => {
            button.addEventListener('click', () => showBoxContent(button));
        });
    }

    // Event listeners for screens above 1024px
    if (window.matchMedia('(min-width: 1024px)').matches) {
        buttons.forEach(button => {
            button.addEventListener('mouseover', () => showBoxContent(button));
        });
    }
});
                                
</script>


<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1537">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Testimonials</span>
          <h2 class="cs-title">Our Happy Customers</h2>
          <p class="cs-text">
              We promise to take care of your child’s social, emotional, intellectual and physical needs with sensitive care and we also ensure you their security with our life.
          </p>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <p class="cs-review">
                The facilities at Golf Greeners are top-notch, and the coaching team is incredibly supportive. I’ve seen real progress in my game since joining.
                  <!--SVG Background-->
                  <svg class="cs-svg" id="Layer_2-1537-1537" xmlns="http://www.w3.org/2000/svg"  preserveAspectRatio="none" viewBox="0 0 419.56 253.34"><defs><style>#reviews-1537 .cls-1{fill:var(--svgBG);stroke-width:0px;}#reviews-1537 .cls-2{fill:none;stroke:var(--svgBorder);stroke-width:8px;}</style></defs><g id="Layer_1-2-1537-1537"><path class="cls-1" d="m15.19,31.24C3.02,87.15-7.83,197.87,33.09,244.28c1.6,1.84,3.7,3.1,5.97,3.98s5.53,1.27,7.96,1c111.15-12.01,218.79-19.77,331.19-10.95,7.42.59,13.44-2.31,16.91-8.96,6.17-11.9,9.68-26.01,11.93-41.81,6.86-47.35,14.39-96.32-1.99-144.35-10.09-29.5-34.23-38.72-63.65-38.83-121.86-.35-220.38.52-295.39,2.99-18.98.63-26.52,4-30.83,23.89Z"/><path class="cls-2" d="m15.07,30.98C2.88,86.96-7.99,197.81,33,244.27c1.61,1.84,3.7,3.1,5.98,3.99s5.54,1.27,7.97,1c111.37-12.02,219.23-19.8,331.85-10.96,7.43.59,13.47-2.31,16.94-8.97,6.18-11.92,9.7-26.04,11.96-41.86,6.88-47.4,14.42-96.43-1.99-144.52-10.11-29.53-34.29-38.77-63.78-38.87-122.1-.35-220.82.52-295.97,2.99-19.01.63-26.57,4.01-30.89,23.92Z"/></g></svg>
              </p>
              <div class="cs-flex-group">
                  <picture class="cs-picture">
                      <img class="cs-profile" src="/assets/images/person-4.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                  </picture>
                  <span class="cs-name">
                    William White
                      <span class="cs-job">Golfer</span>
                  </span>
              </div>
          </li>
          <li class="cs-item">
              <p class="cs-review">
                The courses are always well-maintained, and the instructors are incredibly patient and knowledgeable. It’s a great place to grow as a golfer!
                  <!--SVG Background-->
                  <svg class="cs-svg" id="Layer_2-1537-1537"  preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 419.56 253.34"><defs><style>#reviews-1537 .cls-1{fill:var(--svgBG);stroke-width:0px;}#reviews-1537 .cls-2{fill:none;stroke:var(--svgBorder);stroke-width:8px;}</style></defs><g id="Layer_1-2-1537-1537"><path class="cls-1" d="m15.19,31.24C3.02,87.15-7.83,197.87,33.09,244.28c1.6,1.84,3.7,3.1,5.97,3.98s5.53,1.27,7.96,1c111.15-12.01,218.79-19.77,331.19-10.95,7.42.59,13.44-2.31,16.91-8.96,6.17-11.9,9.68-26.01,11.93-41.81,6.86-47.35,14.39-96.32-1.99-144.35-10.09-29.5-34.23-38.72-63.65-38.83-121.86-.35-220.38.52-295.39,2.99-18.98.63-26.52,4-30.83,23.89Z"/><path class="cls-2" d="m15.07,30.98C2.88,86.96-7.99,197.81,33,244.27c1.61,1.84,3.7,3.1,5.98,3.99s5.54,1.27,7.97,1c111.37-12.02,219.23-19.8,331.85-10.96,7.43.59,13.47-2.31,16.94-8.97,6.18-11.92,9.7-26.04,11.96-41.86,6.88-47.4,14.42-96.43-1.99-144.52-10.11-29.53-34.29-38.77-63.78-38.87-122.1-.35-220.82.52-295.97,2.99-19.01.63-26.57,4.01-30.89,23.92Z"/></g></svg>
              </p>
              <div class="cs-flex-group">
                  <picture class="cs-picture">
                      <img class="cs-profile" src="/assets/images/person-3.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                  </picture>
                  <span class="cs-name">
                    Charlotte Lees
                      <span class="cs-job">Golfer</span>
                  </span>
              </div>
          </li>
      </ul>
  </div>
</section>
                              

<style>

  /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
#reviews-1537 {
  padding: var(--sectionPadding);
}
#reviews-1537 .cs-container {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 48px - 64px */
  gap: clamp(3rem, 6vw, 4rem);
}
#reviews-1537 .cs-content {
  /* set text align to left if content needs to be left aligned */
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* centers content horizontally, set to flex-start to left align */
  align-items: center;
}
#reviews-1537 .cs-title {
  max-width: 23ch;
}
#reviews-1537 .cs-card-group {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 16px - 20px */
  gap: clamp(1rem, 2.5vw, 1.15rem);
  row-gap: 1.5rem;
}
#reviews-1537 .cs-item {
  list-style: none;
  width: 100%;
  /* removed at desktop */
  max-width: 28.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#reviews-1537 .cs-review {
  /* 14px - 20px */
  font-size: clamp(0.875rem, 1.6vw, 1.25rem);
  line-height: 1.5em;
  margin: 0;
  /* 24px - 48px */
  padding: clamp(1.5rem, 6vw, 3rem);
  height: 100%;
  min-height: 10rem;
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
  /* 20px - 40px */
  margin-bottom: clamp(1.25rem, 4vw, 2.5rem);
  color: var(--bodyTextColor);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
#reviews-1537 .cs-svg {
  --svgBG: #F2FAF8;
  --svgBorder: #E5F4F0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
#reviews-1537 .cs-flex-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}
#reviews-1537 .cs-profile {
  width: 3.125rem;
  height: 3.125rem;
  border: 2px solid #BABABA;
  background-color: #BABABA;
  border-radius: 50%;
  /* clips image corners to make circle */
  overflow: hidden;
  position: relative;
  display: block;
}
#reviews-1537 .cs-profile img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* makes the image behave like a background image */
  object-fit: cover;
}
#reviews-1537 .cs-name {
  /* 20px - 25px */
  font-size: clamp(1.25rem, 3vw, 1.5625rem);
  line-height: 1.2em;
  font-weight: 700;
  margin: 0;
  /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
  margin-top: auto;
  color: var(--headerColor);
  display: block;
}
#reviews-1537 .cs-job {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 700;
  margin: 0;
  color: var(--secondary);
  display: block;
}
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
#reviews-1537 .cs-card-group {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
#reviews-1537 .cs-item {
  max-width: 100%;
}
#reviews-1537 .cs-review {
  min-height: 15.625rem;
}
}
                              
</style>
            

  <CTA />
</BaseLayout>
